.header {
    padding: 20px 40px;
}

.headerTitulo {
    font-size: 24px;
}

.headerSubtitulo {
    font-size: 20px;
    margin-top: 10px;
}

.headerParagrafo {
    font-size: 16px;
}

.headerImagem {
    width: 400px;
    height: 250px;
}
